@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.bg {
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

.bg::before {
    content: "";
    position: fixed;
    z-index: -2;
    top: 0;
    left: 0;
    width: 600%;
    bottom: 0;
    background: linear-gradient(45deg, #F17C58, #E94584, #24AADB, #27DBB1, #FFDC18, #FF3706);
    animation: gradient 16s linear infinite alternate;
}

@keyframes gradient {
    100% {
        transform: translateX(-83.33%)
            /* 5/6x100% */
    }
}

.titol {
    margin: 20px 0 30px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titolFavsBuit {
    margin: 20px 0 30px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    height: 685px;
}

.titol h1 {
    color: white;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card {
    width: 1100px;
    display: flex;
    height: 650px;
    border-radius: 30px;
    box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.1);
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin-left: 68px;
    margin-top: 85.6px;
}

.card-content {
    width: 100%;
    display: flex;
    height: 100%;
    border-radius: inherit;
}

.card-content-1 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-content-2 {
    background-color: rgb(236, 236, 236);
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    width: 50%;
    height: 100%;
}

#weather {
    width: 100%;
    display: flex;
    justify-content: center;
}

#weather img {
    width: 50%;
}

#ciutat-temperatura {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 5px;
    align-items: center;
}

#nom-provincia-pais {
    font-weight: 300;
    margin-top: -3.5px;
}

#temperatura-i-humitat {
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
}

#temperatura-i-humitat h5 {
    font-weight: 400;
}

#previsionsHores {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px
}

.previsioHora {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: rgb(248, 248, 248);
}

#titol-previsionsHores {
    margin-left: 10px;
    margin-top: 7.5px;
}

.precipitacioHora {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    column-gap: 5px;
}

#previsionsDies {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
}

.previsioDia {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    background-color: rgb(248, 248, 248);
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
}

.climaDia {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.dia {
    display: flex;
    flex-direction: column;
}

.climaDia {
    display: flex;
    flex-direction: column;
}

.icona-precipitacions {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    column-gap: 20px;
}

.temperaturaDia {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.precipitacions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}

.max-temp {
    color: rgb(219 0 0);
}

.min-temp {
    color: rgb(59, 131, 255);
}

.boto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-top: -277px;
    margin-left: 20px;
}

.boto:hover {
    cursor: pointer;
    background-color: rgb(236, 236, 236);
}

.boto #afegir {
    width: 25px;
    transition: 0.3s;
    fill: black;
}

.noActiu {
    fill: rgb(255, 255, 255);
}

.boto #afegir:active {
    fill: rgb(255, 255, 255);
}