.navbar-container {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
}

.navbar-icons {
    background-color: white;
    border-radius: 20px;
    width: 110px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 27px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.navbar-icons a {
    text-decoration: none;
    color: black;
}

.home-icon-container,
.favorits-icon-container {
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    margin: 5px 3px 5px 3px;
}

.home-icon-container:hover,
.favorits-icon-container:hover {
    cursor: pointer;
    background-color: rgb(231, 231, 231);

}

.navbar-icons span {
    font-size: 37px;
    margin: 3px;
    vertical-align: middle;
}

.favorits-icon:active {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.home-icon:active {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.actiu {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}