@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

.bg {
    height: 100vh;
}

.bg::before {
    content: "";
    position: fixed;
    z-index: -2;
    top: 0;
    left: 0;
    width: 600%;
    bottom: 0;
    background: linear-gradient(45deg, #F17C58, #E94584, #24AADB, #27DBB1, #FFDC18, #FF3706);
    animation: gradient 16s linear infinite alternate;
}

@keyframes gradient {
    100% {
        transform: translateX(-83.33%)
            /* 5/6x100% */
    }
}

.text-inicial {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
}

.text-inicial h1 {
    color: white;
    font-size: 45px;
    margin: 0;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    font-family: 'Poppins', sans-serif;
}

.text-inicial a {
    display: flex;
    width: 100%;
    justify-content: center;
}

.google-btn {
    display: flex;
    justify-content: center;
    margin: 25px;
    width: 100%;
    min-width: 184px;
    max-width: 240px;
    height: 60px;
    background-color: #fcfcfc;
    border-radius: 20px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .2);
    transition: all 400ms ease 0s;
    align-items: center;
    column-gap: 10px;
    flex-direction: row;
}

.google-btn .google-icon-svg {
    margin-top: -6px;
    width: 18px;
    height: 18px;
    user-select: none
}

.google-btn .btn-text {
    float: right;
    color: #595959;
    font-size: 13px;
    letter-spacing: .2px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 0;
}

.google-btn:hover {
    box-shadow: 0 3px 8px rgba(117, 117, 117, .5);
    user-select: none;
    background-color: #e7e7e7;
    cursor: pointer;
}

.google-btn:active {
    box-shadow: 0 1px 1px #757575;
    background: #c3c3c3;
    color: #fff;
    user-select: none
}

