<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ca">

<body>
    <div th:fragment="footer" style="width: 100%;">
        <div class="navbar-container" >
            <div class="navbar-icons">
                <div class="home-icon-container">
                    <a href="/home">
                        <span class="material-symbols-outlined home-icon">
                            home
                        </span>
                    </a>
                </div>
                <div class="favorits-icon-container">
                    <a href="/favorits">
                        <span class="material-symbols-outlined favorits-icon">
                            favorite
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>